body {
    font-family:sans-serif ;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.img {
    margin-top: 6%;
    margin-block: 4%;
}

span {
    color: green;
}

.main-box {
    display: flex;
    justify-content: center;
    gap: 10%;
}

